
.Display{
    width: 70%;
    height: auto;
    margin-top: 40px;
   
}


.DisplayJob{
    width: 60%;
    margin: 40px 20% 0px 20%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     border: 2px solirgba(62, 67, 126, 0.534);
    padding: 10px;
    background-color: white;
    display : flex;
    flex-direction : row;
}
.Company_Logo{
    text-align:justify;
    width: 20%;
  }
  .logo_img{
    width: 100%;
    height: auto;
    margin-top: 8%;
    margin-right: 6%;
    border-radius: 60%;
    
  }
  
  .JopInfo{
    margin-left: 6%;
    width: 70%;
    height: 98%;
    text-align:justify;
    
  }
  
  .space{
    width: 140px;
    font-size: 14px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.651);
    padding: 18px 8px 8px 8px;
    
  }
  
  .mdspace{
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.856);
    padding: 8px 8px 15px 8px;
  }
  .mrspace{
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.856);
    padding: 18px 8px 8px 8px;
  
    
  }
  .titles{
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 18px 8px 8px 8px;
   
  }
  td{
    padding: 2px;
   
  }

  .ajp{
    border: 2px solid rgb(18, 97, 243);
    background-color: rgb(18, 97, 243);
    width: 60%;
    height: 40px;
    margin: 0px 20% 0px 20%;
    box-shadow: 0 14px 28px rgba(37, 44, 136, 0.25), 0 10px 10px rgba(62, 111, 202, 0.22);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .sjp{
    border: 2px solid rgb(10, 207, 10);
    background-color: rgb(24, 235, 87);
    width: 60%;
    height: 40px;
    margin: 0px 20% 0px 20%;
    box-shadow: 0 14px 28px rgba(37, 44, 136, 0.25), 0 10px 10px rgba(62, 111, 202, 0.22);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .rjp{
    border: 2px solid red;
    background-color: red;
    width: 60%;
    height: 40px;
    margin: 0px 20% 0px 20%;
    box-shadow: 0 14px 28px rgba(37, 44, 136, 0.25), 0 10px 10px rgba(62, 111, 202, 0.22);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .lebalc{
    margin: 8px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    
  }