{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="nav">
        <ui class="navbar">
           <li>
               <h2 class="nhead">
                 Job Seeker
               </h2>
           </li>
            
            <li>
                <a id="aha" href="ComHome"><b class="pd">Home</b></a>
            </li>
         
            <li>
             <a  id="ahb"href="CreateJobPost"><b class="pd">Create Job Post</b> </a>
            </li>
            <li>
              <a  id="ahc"href="Emphiring"><b class="pd">Employees Hiring</b></a>
            </li>
            <li>
                <a id="ahout" href="ComLogin">LogOut</a>
            </li>
        </ui>
   </div>

    
</body>
</html>