{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'nbar.css' %}">
 
    <link rel="stylesheet" href="{% static 'search.css' %}">

    <title>Document</title>
</head>
<script src = "{% static 'JavaScript/EmpApplyButton.js' %}">
</script>
<body>
    {%include 'Emp/nbar.html' %}
   
      
    <div class="Search">
        <form method="POST" action="SearchJob">
            {% csrf_token %}
          <table>
            <tr>
                <td class="se">
                    <input type="text" name="JobTitle" placeholder="Search Job">
                </td>
                <td class="btn">
                    <button type="submit" button class="apply" onclick="serachjob()" >
                             Search
                    </button>
                </td>
            </tr>
          </table>
        </form>
        <script>
            function serachjob(){
                alert("Search Succesfull")
            }
        </script>
    </div>




    <div class="Display">


        {% for i in DisplayPost %}
          <div class="DisplayJob">
            
             <div class="Company_Logo">
                
                <img class="logo_img" src="{{i.c_job_com_logo}}">
             </div>
             <div class="JopInfo">
                
                 <table>
                    <tr>
                        <td colspan="2">
                           <b> {{i.c_com_name}} </b> 
                        </td>

                   
                         <td colspan="2">
                            <b> {{i.c_job_title}} </b> 
                         </td>
                    </tr>
                    <tr>
                          <td class="space">
                            {{i.c_joblpg}} 
                          </td>
                          <td class="space">
                            {{i.c_job_state}} 
                          </td>
                          <td class="space">
                            {{i.c_job_pincode}} 
                          </td>
                          <td class="space">

                          </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="mdspace">
                            {{i.c_job_deteils}} 
                         </td>

                    </tr>
                    <tr>
                        <td colspan="4" class="mrspace">
                            {{i.c_job_recruitment}} 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="btn">
                            <a href="/EmpApplyJob/{{i.id}}"  onclick="btnapply()"> <button class="apply" >
                                 Apply
                                     </button>
                             </a>
                         </td>
                    </tr>
                 </table>
             </div>

             
       
          </div>
     
          {% endfor %} 

    </div>
</body>
</html>